<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168162203398-vqj4ms90brj21cr2ncb0qo8puivbc77p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168162203398-vqj4ms90brj21cr2ncb0qo8puivbc77p</string>
	<key>API_KEY</key>
	<string>AIzaSyAmILtb294dGVnUSEtK71Vk98grk_cESX4</string>
	<key>GCM_SENDER_ID</key>
	<string>168162203398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Soham-Gupta.QuickDictionary</string>
	<key>PROJECT_ID</key>
	<string>quictionary-c67ba</string>
	<key>STORAGE_BUCKET</key>
	<string>quictionary-c67ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168162203398:ios:7cbe257b0ee3dc71053087</string>
</dict>
</plist>